.product {
  min-width: 300px;
  max-width: 400px;
  margin: 30px 20px;

  &__container {
    border: 1px solid gray;
    border-radius: 6px;
  }

  &__image {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    height: 100px;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__buttons {
    margin-right: auto;
  }

  img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }

  button {
    padding: 5px 10px;
  }

  .price {
    font-size: 18px;
    font-weight: 600;
  }
}
