body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #0561ea;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

.link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}

.link:hover {
  background-color: rgb(211, 103, 119);
  border: none;
  color: white;
}